.nav-link
{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 100px;
}
.navbar-brand
{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lead
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(105, 100, 100);
}
.blog-post-title,.mt-4
{
    font-style: italic;
    font-weight: bold;
    margin-left: 10px;
    color: rgb(66, 119, 157);
}
.about
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-left :10px;
}
.blog-post
{
   background-color: rgb(212, 229, 252);
   border-radius: 30px;
}
.c,.c1,.html,.css,.javascript,.python
{
    height: 100px;
    margin-right: 50px;
}
body 
{
    margin: 0px;
    background-image: url(background.png) ;
    background-size: cover;
    
}
.list-group
{
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
   
}
   
.list-group-item
{
    background-color: rgb(212, 229, 252);
    margin-top: 15px;
    
    
}
.past-project
{
    
    margin-left: 10px;
   
}
